<div class="container-fluid My-Banner custom-app">
    <div class="form-group">
        <div class="col-md-12">
            <div class="My-Logo-Animation">
                <i class="fas fa-chess-knight My-Logo"></i>
            </div>
        </div>
    </div>  
</div>
<div class="container-fluid custom-app My-Menu">
    <div class="form-group">
        <div class="col-md-12">
            <!--Menu Content-->
            <div id="View-Tab" class="col-md-6 col-xs-6 Menu-tabs Active" (click)="SlideAnimation('View-Customers', 'View-Tab', 'View-Create-Customer', 'Create-Tab')">
                View all
            </div>
            <div id="Create-Tab" class="col-md-6 col-xs-6 Menu-tabs" (click)="SlideAnimation('View-Create-Customer', 'Create-Tab', 'View-Customers', 'View-Tab')">
                Create
            </div>
        </div>
    </div>
</div>

<div id="View-Customers" class="container-fluid custom-app">
    <div class="form-group">
        <div class="col-md-12">
            <h3>View all Customers</h3>
        </div>
        
    </div>
    <div class="form-group" *ngIf="CustomersList.length == 0">
        <div>
            <p class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> No Customers found! Please Create.</p>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group" *ngFor="let customer of CustomersList">
            <div class="col-md-12" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Customer Number</th>
                            <th>Name & Surname</th>
                            <th>Locality</th>
                            <th>Motto</th>
                            <th>Hobbies</th>
                            <th>Blog</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [class]="customer.CustomerNo" >
                            <td><img class="Image-display" [src]="sanitize(customer.ImagePathURL)" width="100" height="100"></td>
                            <td>{{customer.CustomerNo}}</td>
                            <td>{{customer.FirstName}} {{customer.LastName}}</td>
                            <td>{{customer.Locality}}</td>
                            <td>{{customer.Motto}}</td>
                            <td>{{customer.Hobbies}}</td>
                            <td><a [href]="customer.PBLogURL">{{customer.PBLogURL}}</a></td>
                            <td (click)="Delete(customer)" ><i class="fas fa-times"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>


<div id="View-Create-Customer"style="display:none">

    <div class="container-fluid custom-app" >
        <div class="form-group">
            <div class="col-md-12">
                <h3>Upload a Customer Photo</h3>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <image-upload [max]="1" [preview]="true" [extensions]="['jpg','png','gif']" [buttonCaption]="'Browse'" [style]="customStyle" (uploadFinished)="onUploadFinished($event)" (removed)="onRemoved($event)"></image-upload>
            </div>
        </div>

        <div class="form-group" *ngIf="startUpload == true">
            <div class="col-md-12">
                <i class="fa fa-spinner fa-spin"></i> Please wait while upload is complete...
            </div>
        </div>
    </div>

    <div class="container-fluid custom-app" *ngIf="isSuccess == true">
        <div class="form-group">
            <div class="col-md-12">
                <h3>Add Customer Details</h3>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="Customer-Number">Customer Number</label>
                <input type="number" [(ngModel)]="CustomerToAdd.CustomerNo" id="Customer-Number" class="form-control col-md-12">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label for="Customer-Name">Name</label>
                <input type="text" [(ngModel)]="CustomerToAdd.FirstName" id="Customer-Name" class="form-control col-md-12">
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-md-12">
                <label for="Customer-Surname">Surname</label>
                <input type="text" [(ngModel)]="CustomerToAdd.LastName" id="Customer-Surname" class="form-control col-md-12">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label for="Customer-Motto">Motto</label>
                <input type="text" [(ngModel)]= "CustomerToAdd.Motto" id="Customer-Motto" class="form-control col-md-12">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label for="Customer-Hobbies">Hobbies</label>
                <input type="text" [(ngModel)]="CustomerToAdd.Hobbies" id="Customer-Hobbies" class="form-control col-md-12">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label for="Customer-Hometown">Hometown</label>
                <input type="text" [(ngModel)]="CustomerToAdd.Locality" id="Customer-Hometown" class="form-control col-md-12">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label for="Customer-BLOGURL">Blog URL</label>
                <input type="text" [(ngModel)]="CustomerToAdd.PBLogURL" id="Customer-BLOGURL" class="form-control col-md-12">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="button" value="create" (click)="Add()">
            </div>
        </div>
    </div>
</div>