/* You can add global styles to this file, and also import other style files */

.custom-app
{
    padding: 30px 30px 30px 30px;
    width:50%; 
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.My-Banner
{
    background-color: #3F51B5; 
    height: 180px;
}

.Image-display
{
    border-radius: 100%;
}

.My-Logo-Animation
{
    position: absolute;
    left:43%;
    width:91px;
    padding: 5px 8px 9px 8px;
    border: 1px solid white;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px; 
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px; 
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px; 
}

.fa-times:hover
{
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}
th
{
    font-size: 9px;
}

td
{
    font-size: 10px;
}

.My-Logo
{
    font-size: 100px;
    color: white;
}

.My-Menu
{
    padding-top: 1.2%;
    background-color: #536DFE;
    height: 50px;
}

.Menu-tabs
{
    display:block;
    float: left;
    text-align: center;
    color: white;
}

.Active
{
    border-bottom: 2px solid #3F51B5;
}

.Menu-tabs:hover
{ 
    cursor: pointer; 
}

label
{
  font-weight: 800;  
}